body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bbaeae;
}

.container {
    text-align: center;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#answer{
    padding-bottom: 5px; /* Ajusta el padding según sea necesario */
}

#buttonVerify{
    margin: 0 0 15px 0; /* Ajusta el margen según sea necesario */
}

#secretWord{
    font-size: 30px; /* Ajusta el tamaño de fuente según sea necesario */
    padding-bottom: 10px; /* Ajusta el padding según sea necesario */
}

#description{
    padding-bottom: 5px;
    font-size: 20px; /* Ajusta el tamaño de fuente según sea necesario */
}

#image{
    mix-blend-mode: multiply;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    #secretWord{
        font-size: 20px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }

    #description{
        font-size: 15px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
}


#advertisement{
    font-size: 15px;
}
