body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px; /* Reducido el margen para dispositivos móviles */
}

.form-box {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-box input {
    width: calc(100% - 20px); /* Ajuste para el borde */
    padding: 10px;
    margin: 10px 0; /* Ajuste para dispositivos móviles */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-box input[type="button"] {
    width: calc(100% - 20px); /* Ajuste para el borde */
    padding: 10px;
    margin: 10px 0; /* Ajuste para dispositivos móviles */
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Ajuste para dispositivos móviles */
}

.tab-buttons button {
    padding: 10px 20px;
    margin: 0 5px; /* Ajuste para dispositivos móviles */
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}
